/*
 * Styles for map elements that key off of allegiance codes. This includes:
 *   borders: color
 *   route: color, style, width
 * Syntax is similar to CSS:
 *   element { property: value; property: value }
 *   element.allegiance { ... }
 */

border.Im { color: red }
route.Im { color: green }
border.ImLa, border.ImSy, border.ImLc, border.ImAp, border.ImLu, border.ImVd { color: blue; }

border.SoCf { color: orange }
route.SoCf { color: green }
border.SoNS, border.SoRD, border.SoWu { color: blue; }

border.ZhCo, border.ZhCa, border.ZhIN { color: blue }
route.ZhCo { color: lightblue }

border.As { color: yellow }
route.As { color: yellow }

border.HvFd { color: purple }
route.HvFd { color: gray }

border.Kk { color: green }
route.Kk { color: gray }

border.JuPr { color: blue }
route.JuPr { color: lightblue }

route.Core\ Route { color: purple; style: dashed }
