/*
 * Styles for map elements that key off of allegiance codes. This includes:
 *   borders: color
 *   route: color, style, width
 * Syntax is similar to CSS:
 *   element { property: value; property: value }
 *   element.allegiance { ... }
 */

border.ImDa, border.ImDc, border.ImDd, border.ImDg, border.ImDi, border.ImDs, border.ImDv,
border.Im { color: #E32736; }
route.Im { color: #048104; }
border.ImLa, border.ImSy, border.ImLc, border.ImAp, border.ImLu, border.ImVd { color: blue; }

border.SoCf { color: orange; }
route.SoCf { color: #048104; }
border.SoNS, border.SoRD, border.SoWu { color: blue; }

border.ZhCa, border.ZhCh, border.ZhCo, border.ZhIa, border.ZhIN,
border.ZhJp, border.ZhMe, border.ZhOb, border.ZhSh, border.ZhVQ,
border.Zh { color: blue }
route.ZhCo { color: lightblue }

border.As, border.AsXX { color: yellow }
route.As, route.AsXX { color: yellow }

border.HvFd { color: purple }
route.HvFd { color: gray }

border.KkTw,
border.Kk { color: green }
route.KkTw,
route.Kk { color: gray }

border.JuPr { color: blue }
route.JuPr { color: lightgreen }
route.JAOz,
route.JAsi,
route.JCoK,
route.JHhk,
route.JLum,
route.JMen,
route.JPSt,
route.JRar,
route.JUkh,
route.JVug,
route.JuHl,
route.JuRu { color: lightblue }
border.JAOz { color: teal }
border.JAsi { color: lightblue }
border.JCoK { color: cyan }
border.JHhk { color: lightblue }
border.JLum { color: cyan }
border.JMen { color: teal }
border.JPSt { color: aquamarine }
border.JRar { color: olivedrab }
border.JUkh { color: teal }
border.JVug { color: lightblue }
border.JuHl { color: steelblue }
border.JuRu { color: cyan }

route.Core\ Route { color: purple; style: dashed }
