# Other version control systems
.svn/

# Visual Studio cruft
*.csproj.user
*.suo
App_Data/
obj/
bin/

# Web site stuff
web.config
robots.txt
sitemap.xml

# Publishing stuff
*.bat
*.scr

# Unrelated stuff on site
info.htm
model2/
pictures/
tmp/
res/Sectors/Legacy/

# Windows cruft
Thumbs.db
