*~

# Other version control systems
.svn/

# Visual Studio cruft
*.csproj.user
*.suo
App_Data/
obj/
bin/

# Web site stuff
web.config
robots.txt
sitemap.xml
logs/

# Publishing stuff
*.bat
*.scr

# Unrelated stuff on site
model2/
pictures/
tmp/
res/Sectors/Legacy/

# Windows cruft
Thumbs.db
/.vs/config/applicationhost.config
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
