*~

# Other version control systems
.svn/

# Visual Studio cruft
*.csproj.user
*.suo
App_Data/
obj/
bin/

# Web site stuff
web.config
logs/

# Publishing stuff
*.bat
*.scr

# Unrelated stuff on site
model2/
pictures/
tmp/
res/Sectors/Legacy/

# Windows cruft
Thumbs.db
/.vs/config/applicationhost.config
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/Maps/config/applicationhost.config
*.testlog
.vs/Maps/v17/

# Mac cruft
.DS_Store

