*.md text
*.patch text
*.sample text

*.cs text
*.asax text
*.aspx text
*.sln
*.csproj text eol=crlf

*.htm text
*.html text
*.css text
*.js text

*.xml text
*.xsd text
*.xslt text
*.json text
*.SEC text
*.sec text
*.tab text
*.xvf text

*.cur binary
*.gif binary
*.ico binary
*.jpg binary
*.pdn binary
*.png binary
