/* Default (white-on-black) */

html, body { overflow: hidden; }
html { margin: 0; padding: 0; width: 100%; height: 100%; }

form { margin: 0; padding: 0; }
p { margin: 0; }
.indent { margin-left: 20px; }

body {
  margin: 0; padding: 0;
  border: none; overflow: hidden;
  width: 100%; height: 100%; max-height: 100%;

  font-size: 10pt; font-family: Univers, Arial, sans-serif;

  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

body { color: white; background-color: black;  }
body.style-print,
body.style-atlas { color: black; background-color: white; }
body.style-draft { color: black; background-color: antiquewhite; }

a { color: white; }
.style-draft a,
.style-print a,
.style-atlas a { color: black; }

a.stealth { text-decoration: none; }
a.stealth:hover { text-decoration: underline; }

.direction {
  font-weight: bold; text-transform: uppercase; font-size: 120%;
  color: red;
}
.style-atlas .direction { color: gray; }

#stripe {
  border: solid 1px red; height: 4pt;
  color: red; background-color: red;
 }
.style-print #stripe,
.style-atlas #stripe { color: black; background-color: black; border: solid 1px black; }

.marker#you_are_here {
  position: absolute; width: 256px; height: 256px;
  background-color: Transparent; background-repeat: no-repeat; background-position: top left;
  background-image: url("res/ui/youarehere.png");
}
.style-print .marker#you_are_here,
.style-atlas .marker#you_are_here {
  background-image: url("res/ui/youarehere_gray.png");
}

.marker#custom { position: absolute; width: 256px; height: 256px; }
.marker#custom img { position: absolute; width: 128px; height: 128px; left: -64px; top: -64px;}

#overlay {
  position: absolute;
  margin: 0; padding: 0; border: 0;
  opacity: 0.5; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  background-color: #8080ff;
}
.style-atlas #overlay { background-color: #808080; }

#dragContainer {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAABlBMVEUAAAAoKCj70ajHAAAAE0lEQVQI12P4/5+BgZoEA3VNBADtvT/BrQ+bEwAAAABJRU5ErkJggg==');
  cursor: crosshair;
}
/* TODO: draft */
.style-print #dragContainer,
.style-atlas #dragContainer {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAABlBMVEXX19f///8qtJEjAAAAE0lEQVQI12NgYPj/n4oElU1jAADtvT/BM8KnAAAAAABJRU5ErkJggg==');
}

.direction { visibility: hidden; }
.show-directions .direction { visibility: visible; }

#bottom-pane {
  position: absolute;
  left: 0; right: 0; bottom: 0; height: 95px;
  padding: 10px; padding-top: 0; overflow: hidden;
}

#dragContainer.dragging {
  cursor: move;
  cursor: url(res/ui/grabbing.cur), move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

#legendBox {
  text-align: center;
}

#legendBox section h2 {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 6px;
  border-bottom: 3px solid white;
  padding: 2px 0px;
  text-transform: uppercase;
  font-size: 100%;
  font-weight: normal;
}
.style-draft #legendBox section h2,
.style-atlas #legendBox section h2,
.style-print #legendBox section h2 {
  border-bottom: 3px solid black;
}

#legendBox section:first-of-type { margin-top: 0; }
#legendBox section { margin-top: 1em; }

#legendBox section ul {
  text-align: left;
  display: inline-block;
  padding: 0; margin: 0;
  list-style-type: none;
}

#legendBox section li {
    line-height: 12pt;
}

#legendBox .glyph { display: inline-block; width: 20px; text-align: center; }
#legendBox .highlight { color: red; }
.style-atlas #legendBox .highlight { color: gray; }
#legendBox .glyph.water { color: #00bfff; }
.style-atlas #legendBox .water { color: #e0e0e0; }
#legendBox .amberzone { color: yellow; }
.style-atlas #legendBox .amberzone { color: #c0c0c0; }
#legendBox .redzone { color: red; }
.style-atlas #legendBox .redzone { color: black; }

#legendBox .popname { display: inline-block; width: 70px; }

#legendBox .glyph { font-size: 140%; }
#legendBox .glyph.g8 { font-size: 80%; }
#legendBox .glyph.g10 { font-size: 100%; }
#legendBox .glyph.g12 { font-size: 120%; }

#legendBox ul.basic_world_colors { display: inline-block; }
#legendBox ul.extended_world_colors { display: none; }
#legendBox.world_colors ul.basic_world_colors { display: none; }
#legendBox.world_colors ul.extended_world_colors { display: inline-block; }

/* Extended World Colors */
#legendBox .glyph.RiAg { color: rgb(241,194,50); }
#legendBox .glyph.Ag { color: rgb(106,168,79); }
#legendBox .glyph.Ri { color: purple; }
#legendBox .glyph.In { color: gray; }
#legendBox .glyph.corrosive { color: rgb(180,95,6); }
#legendBox .glyph.Va { color: black; }

.style-candy #legendBox #world_colors,
.style-candy #legendBox #bases { display: none; }

#legendBox #image1
{
  display: inline-block;
  width: 200px; height: 200px; margin: 0; padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("res/ui/Legend_1003_poster.png");
}
#legendBox #image2
{
  display: inline-block;
  width: 200px; height: 200px; margin: 0; padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("res/ui/Legend_1006_poster.png");
}

.style-candy #legendBox #image1 { background-image: url("res/ui/Legend_1003_candy.jpg"); }
.style-candy #legendBox #image2 { background-image: url("res/ui/Legend_1006_candy.jpg"); }
.style-atlas #legendBox #image1 { background-image: url("res/ui/Legend_1003_atlas.png"); }
.style-atlas #legendBox #image2 { background-image: url("res/ui/Legend_1006_atlas.png"); }
.style-print #legendBox #image1 { background-image: url("res/ui/Legend_1003_print.png"); }
.style-print #legendBox #image2 { background-image: url("res/ui/Legend_1006_print.png"); }
.style-draft #legendBox #image1 { background-image: url("res/ui/Legend_1003_atlas.png"); }
.style-draft #legendBox #image2 { background-image: url("res/ui/Legend_1006_atlas.png"); }


/* Credits/Metadata */

.metadata-status a { text-decoration: none; font-weight: bold; }
.metadata-status .official { visibility: hidden; }
.metadata-status .unreviewed{ color: orange; }
.metadata-status .preserve { color: green; }
.metadata-status .apocryphal{ color: magenta; }
.metadata-status .unofficial{ color: yellow; }
.metadata-status .bar { font-size: 120%; }
.style-print .metadata-status .preserve,
.style-print .metadata-status .apocryphal,
.style-print .metadata-status .unofficial,
.style-atlas .metadata-status .preserve,
.style-atlas .metadata-status .apocryphal,
.style-atlas .metadata-status .unofficial { color: gray; }


/* Scrollbars */

/* Chrome/Safari */
::-webkit-scrollbar { background-color: black; width: 8px; }
::-webkit-scrollbar-thumb { background-color: #404040; }
::-webkit-scrollbar-thumb:hover { background-color: #808080; }
.style-print ::-webkit-scrollbar,
.style-atlas ::-webkit-scrollbar { background-color: white; width: 8px; }
.style-print ::-webkit-scrollbar-thumb,
.style-atlas ::-webkit-scrollbar-thumb { background-color: #b0b0b0; }
.style-print ::-webkit-scrollbar-thumb:hover,
.style-atlas ::-webkit-scrollbar-thumb:hover { background-color: #808080; }

/* IE */
body {
  scrollbar-face-color: #404040;
  scrollbar-arrow-color: #000000;
  scrollbar-track-color: #000000;
  scrollbar-shadow-color: #404040;
  scrollbar-highlight-color: #404040;
  scrollbar-3dlight-color: #404040;
  scrollbar-darkshadow-color: #000000;
}
body.style-print,
body.style-atlas {
  scrollbar-face-color: #b0b0b0;
  scrollbar-arrow-color: #ffffff;
  scrollbar-track-color: #ffffff;
  scrollbar-shadow-color: #b0b0b0;
  scrollbar-highlight-color: #b0b0b0;
  scrollbar-3dlight-color: #b0b0b0;
  scrollbar-darkshadow-color: #ffffff;
}


/* Word Data Popup */

#popup-overlay {
  display: none;
  position: fixed;
  z-index: 3000;
  transform: translateZ(3000px);
  left: 0; top: 0; right: 0; bottom: 0;
  background-color: rgba(0,0,0,0.5);
}
#popup-overlay.visible {
  display: block;
}
#popup-iframe {
  position: absolute;
  width: 8in; height: 6.5in; max-height: 100%;
  left: 0; right: 0; top: 0; bottom: 0;
  overflow: hidden;
  margin: auto;
  padding: 0;
  border: 1px solid gray;
}
#popup-click {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  overflow: hidden;
  margin: 0; padding: 0;
}


/* Scripting Disabled */

noscript div {
  display: block;
  position: absolute;
  top: 50%; left: 50%;
  width: 400px;
  height: 200px;
  margin-top: -100px;
  margin-left: -200px;
  text-align: center;
  line-height: 200px;
  z-index: 9999;
  transform: translateZ(9999px);
  color: white;
  background-color: inherit;
  border: 2px solid white;
}
